@font-face {
    font-family: 'Kepler';
    font-style: normal;
    font-weight: normal;
    src: local('Kepler'), url('/font/KeplerStd-BoldScnDisp.otf') format('opentype');
}

@font-face {
    font-family: 'Kepler';
    font-style: italic;
    font-weight: normal;
    src: local('Kepler'), url('/font/KeplerStd-BoldScnItDisp.otf') format('opentype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans'), url('/font/OpenSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Open Sans'), url('/font/OpenSans\ Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins'), url('/font/Poppins-Regular.ttf') format('truetype');
}

/*
@font-face {
    font-family: 'Poppins Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Thin'), url('/font/Poppins-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Thin';
    font-style: italic;
    font-weight: normal;
    src: local('Poppins Thin'), url('/font/Poppins-ThinItalic.ttf') format('truetype');
}
*/

body {
    font-family: 'Kepler', serif;
    padding: 0;
    margin: 0;
    background-color: #f4f9fd;
}

.topimg {
    padding-top: 80px;
    width: 100%;
    height: 700px;
    display: inline-block;
    position: relative;
}

#main {
    margin-top: 20px;
    width: 100%;
    color: #000000;
    background-color: #f4f9fd;
    display: inline-block;
    position: relative;
    text-align: center;
}

.txtHeader {
    font-size: 48px;
    margin: 25px;
}

.txtContent {
    font-size: 18px;
    margin: 25px;
}

.imgCaption {
    margin: 100px;
    text-align: left;
    width: auto;
    display: inline-block;
    font-size: 16px;
}

/*
.rndBox {
    background-color: #010101;
    font-size: 22px;
    border-radius: 30px;
    padding: 50px;
    height: 100%;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
}

.trqBox {
    background-color: #3bedb7;
    color: #4f4f50;
    font-size: 22px;
    border-radius: 30px;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

.yloBox {
    background-color: #fce702;
    color: #4f4f50;
    font-size: 22px;
    border-radius: 30px;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}
*/

/* magic scroll porggors */
.head, #subHead{
    position: fixed;           
    height: 80px;    
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    z-index: 10;         /* on top of all */
}

#subHead{
    z-index: 4;          /* below all */
    top: 80px;
    height: 700px;           /* height of the top div */
}

#content{
    position: relative;
    background-color: #f4f9fd;
    width: 100%;
    z-index: 6;          /* below the top div, but above the one below it */
    margin-top: 780px;   /* the height of the two divs above combined */
    box-sizing: border-box;
    padding: 30px;
}

/* pre-req for side by side action */
.SBSwrapper {
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.2);
    overflow: hidden;
    line-height: 80%;
    display: flex;
    align-items: stretch;
}

.SBScont {
    width: 48%;
    height: 100%;
    padding: 10px;
    text-align: left;
    float: left;
    display: table;
    min-height: 100%;
}
