body {
    font-family: 'Kepler', serif;
    padding: 0;
    margin: 0;
    background-color: #e7f2fb;
}

html, body {
    height: 100%;
}

a {
    color: #00a562;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.txtContent p {
    margin-bottom: 35px;
}

.topimg {
    padding-top: 80px;
    width: 100%;
    height: 700px;
    display: inline-block;
    position: relative;
    text-align: center;
}

/* Content */

#main {
    margin-top: -50px;
    width: 95%;
    color: #010101;
    background-color: #f4f9fd;
    display: inline-block;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#mainWrapper {
    padding: 20px 300px 0 300px;
}

.txtHeader {
    font-size: 48px;
    margin: 25px;
}

.txtContent {
    font-size: 18px;
    margin: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
}

.imgCaption {
    margin: 100px;
    text-align: left;
    width: auto;
    display: inline-block;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/*
.rndBox {
    background-color: #010101;
    font-size: 22px;
    border-radius: 30px;
    padding: 50px;
    height: 100%;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
}

.trqBox {
    background-color: #3bedb7;
    color: #4f4f50;
    font-size: 22px;
    border-radius: 30px;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

.yloBox {
    background-color: #fce702;
    color: #4f4f50;
    font-size: 22px;
    border-radius: 30px;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}
*/

/* magic scroll porggors */
.head, #subHead{
    position: fixed;           
    height: 80px;    
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    z-index: 10;         /* on top of all */
}

#subHead{
    z-index: 4;          /* below all */
    top: 80px;
    height: 700px;           /* height of the top div */
}

#content{
    position: relative;
    background-color: #e7f2fb;
    width: 100%;
    z-index: 6;          /* below the top div, but above the one below it */
    margin-top: 850px;   /* the height of the two divs above combined */
    box-sizing: border-box;
    text-align: center;
}

/* pre-req for side by side action */

.SBSwrapper {
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

.SBScont {
    width: 48%;
    height: 100%;
    padding: 10px;
    float: left;
    display: table;
    min-height: 100%;
}